
DatasAtrasExtenso/.vs/DatasAtrasExtenso/v16/TestStore/0/testlog.manifest
DatasAtrasExtenso/.vs/DatasAtrasExtenso/v16/.suo
DatasAtrasExtenso/.vs/DatasAtrasExtenso/v16/TestStore/0/000.testlog
DatasAtrasExtenso/DataAtrasExtenso.UnitTest/obj/project.assets.json
DatasAtrasExtenso/DataAtrasExtenso.UnitTest/obj/project.nuget.cache
DatasAtrasExtenso/DataAtrasExtenso.UnitTest/obj/Debug/netcoreapp3.1/DataAtrasExtenso.UnitTest.dll
DatasAtrasExtenso/DataAtrasExtenso.UnitTest/obj/Debug/netcoreapp3.1/DataAtrasExtenso.UnitTest.csprojAssemblyReference.cache
DatasAtrasExtenso/DataAtrasExtenso.UnitTest/obj/Debug/netcoreapp3.1/DataAtrasExtenso.UnitTest.assets.cache
DatasAtrasExtenso/DataAtrasExtenso.UnitTest/obj/DataAtrasExtenso.UnitTest.csproj.nuget.g.targets
DatasAtrasExtenso/DataAtrasExtenso.UnitTest/obj/DataAtrasExtenso.UnitTest.csproj.nuget.g.props
DatasAtrasExtenso/DataAtrasExtenso.UnitTest/obj/DataAtrasExtenso.UnitTest.csproj.nuget.dgspec.json
DatasAtrasExtenso/DataAtrasExtenso.UnitTest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DatasAtrasExtenso/DataAtrasExtenso.UnitTest/obj/Debug/netcoreapp3.1/DataAtrasExtenso.UnitTest.AssemblyInfo.cs
DatasAtrasExtenso/DataAtrasExtenso.UnitTest/obj/Debug/netcoreapp3.1/DataAtrasExtenso.UnitTest.AssemblyInfoInputs.cache
DatasAtrasExtenso/DataAtrasExtenso.UnitTest/obj/Debug/netcoreapp3.1/DataAtrasExtenso.UnitTest.csproj.CoreCompileInputs.cache
DatasAtrasExtenso/DataAtrasExtenso.UnitTest/obj/Debug/netcoreapp3.1/DataAtrasExtenso.UnitTest.csproj.CopyComplete
DatasAtrasExtenso/DataAtrasExtenso.UnitTest/obj/Debug/netcoreapp3.1/DataAtrasExtenso.UnitTest.csproj.FileListAbsolute.txt
DatasAtrasExtenso/DataAtrasExtenso.UnitTest/obj/Debug/netcoreapp3.1/DataAtrasExtenso.UnitTest.genruntimeconfig.cache
DatasAtrasExtenso/DataAtrasExtenso.UnitTest/obj/Debug/netcoreapp3.1/DataAtrasExtenso.UnitTest.pdb
DatasAtrasExtenso/DatasAtrasExtenso/obj/DatasAtrasExtenso.csproj.nuget.g.props
DatasAtrasExtenso/DatasAtrasExtenso/obj/DatasAtrasExtenso.csproj.nuget.g.targets
DatasAtrasExtenso/DatasAtrasExtenso/obj/DatasAtrasExtenso.csproj.nuget.dgspec.json
DatasAtrasExtenso/DatasAtrasExtenso/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DatasAtrasExtenso/DatasAtrasExtenso/obj/Debug/netcoreapp3.1/DatasAtrasExtenso.AssemblyInfo.cs
DatasAtrasExtenso/DatasAtrasExtenso/obj/Debug/netcoreapp3.1/DatasAtrasExtenso.AssemblyInfoInputs.cache
DatasAtrasExtenso/DatasAtrasExtenso/obj/Debug/netcoreapp3.1/DatasAtrasExtenso.assets.cache
DatasAtrasExtenso/DatasAtrasExtenso/obj/Debug/netcoreapp3.1/DatasAtrasExtenso.csproj.CoreCompileInputs.cache
DatasAtrasExtenso/DatasAtrasExtenso/obj/Debug/netcoreapp3.1/DatasAtrasExtenso.csproj.FileListAbsolute.txt
DatasAtrasExtenso/DatasAtrasExtenso/obj/Debug/netcoreapp3.1/DatasAtrasExtenso.csprojAssemblyReference.cache
DatasAtrasExtenso/DatasAtrasExtenso/obj/Debug/netcoreapp3.1/DatasAtrasExtenso.dll
DatasAtrasExtenso/DatasAtrasExtenso/obj/Debug/netcoreapp3.1/DatasAtrasExtenso.pdb
DatasAtrasExtenso/DatasAtrasExtenso/obj/project.assets.json
DatasAtrasExtenso/DatasAtrasExtenso/obj/project.nuget.cache
DatasAtrasExtenso/.vs/DatasAtrasExtenso/DesignTimeBuild/.dtbcache.v2
DatasAtrasExtenso/.vs/DatasAtrasExtenso/v16/TestStore/0/002.testlog
